

body, html{
    width: 100%;
    height: 100%;

}

body{
    margin: 0px;
    font-family: montserrat;
}

.vegaNavbar{
    background-color: #212529;
}

.vegaLine{
    background-color: #f8f9fa;
    
}

.nav-link{
    font-size: small;  
    color: #8d959a;
}

.nav-link:hover{
    color: #55FF33 !important;
}

h1{
    color: #55FF33 !important;
}

.footer-title{
    color: white;
}

p{
    color: black;
}

button{
    text-align: left;
    background-color: white;
    border: 0;
}

.btn-secondary{
    background-color: #55b5db;
}

.btn-secondary:hover{
    background-color: #55FF33;
}


.btn-outline-light{
    background-color: #f8f9fa;
    color: #212529;
}

.btn-outline-light:hover{
    background-color: #55FF33;
}

.question:hover{
    color: #dc3545 !important;
}

.blue{
    color: #55b5db;
}

.red{
    color: #dc3545;
}

.violet{
    color: #a074c4;
}

.projects{
    background-color: #FFEAE9;
    height: 90px;  
}

.vmath{
    background-color: #DBE8FF;
    height: 90px; 
}

.prof{
    background-color:#F4DCFF;
    height: 90px;
}

.other{
    background-color: #C1FFE9;
    height: 90px;
}

a{
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover{
    outline: none;
    text-decoration: none;
    color: black;
}



/*для маленького*/
@media screen and (max-width: 767px) {
    a{
        font-size: 16px !important;
    }
}

